@import "tailwindcss";

:root {
  --background: #0d0d10;
  --surface: #17171c;
  --surface-2: #202027;

  --border: rgba(255, 255, 255, 0.08);

  --text: #f5f5f5;
  --muted: #8b8b95;

  --primary: #ffffff;

  --radius: 18px;
}

body {
  background: radial-gradient(
    circle at top,
    #1f1f28 0%,
    #121216 35%,
    #0b0b0d 100%
  );

  color: #f5f5f5;

  min-height: 100vh;

  font-family: Inter, sans-serif;
}

* {
  border-color: var(--border);
}

::selection {
  background: #fff;
  color: #000;
}
